{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Register</title>
    <link rel = "stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
{% endblock %}


{% block body %}
    <div class="container containerEdit">
        <h1>Participant Registration<hr></h1>
		<br>
		{% if messages %}
			{% for msg in messages %}
				<div class="alert alert-danger fade in" style="color:red">
					<!--a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a-->
					{{msg.message}}
				</div>
			{% endfor %}
		{% endif %}
		
		
		<form method="POST" action="" role="form">
			{%csrf_token%}
			<div>
				<input name="first_name" type="text">
				<label>First Name</label>
			</div>
			<div>
				<input name="last_name" type="text">
				<label>Last Name</label>
			</div>
			<div>
				<input name="email" type="text">
				<label>Email</label>
			</div>
			<div>
				<input name="password" type="password">
				<label>Password</label>
			</div>
			<div>
				<input name="repassword" type="password">
				<label>Password Again</label>
			</div>
			<div>
				<input name="mobile_number" type="text">
				<label>Mobile Number</label>
			</div>
			<div>
				<select style="width: auto" name="college">
					<option value="" disabled selected>Choose your College</option>
					{% for clg in all_colleges %}
						<option value="{{clg.collegeName}}">{{clg.collegeName}}</option>
					{%endfor%}
				</select>
			</div>
			<div>
				<select name="year" style="width: auto" >
					<option value="" disabled selected>--Graduation year--</option>
					<option value="1">First</option>
					<option value="2">Second</option>
					<option value="3">Third</option>
					<option value="4">Fourth</option>
					<option value="5">Fifth</option>
				</select>
			<div>
			<br><br>
			<div><button type="submit">SUBMIT</button></div>
		</form>
    </div>
{% endblock %}